/* ----------------------- Global ----------------------- */
.ewp-clearfix:after{
  content: "";
  display: table;
  clear: both;
}
.ewp-before-loop{
  margin-bottom: 1em;
}
.ewp-after-loop{
  margin-top: 1em;
}
/* ----------------------- /Global ----------------------- */

/* ----------------------- Carousels ----------------------- */
.ewp-carousel .ewp-slick-slide a{
  display: block;
}
.ewp-carousel .ewp-slick-slide a > img{
  margin: 0 auto;
}
.ewp-carousel .ewp-slick-slide, .ewp-product-carousel .ewp-slick-slide{
  margin: 0 10px;
}
.ewp-carousel .slick-prev, .ewp-carousel .slick-next,
.ewp-product-carousel .slick-prev, .ewp-product-carousel .slick-next{
  font-size: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  display: block;
  cursor: pointer;
  font-size: 22px;
  width: 30px;
  overflow: hidden;
  text-align: center;
  color: #aeaeae;
  border: none;
  outline: none;
  z-index: 999;
  background: #eee;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
}
.ewp-carousel .slick-prev > span, .ewp-carousel .slick-next > span,
.ewp-product-carousel .slick-prev > span, .ewp-product-carousel .slick-next > span{
  display: inline-block;
  height: 20px;
  width: 20px;
  padding: 10px;
  position: absolute;
  top: 50%;
  margin-top: -20px;
  left: 0;
  right: 0;
}
.ewp-carousel .slick-prev:hover,
.ewp-carousel .slick-prev:focus,
.ewp-carousel .slick-next:hover,
.ewp-carousel .slick-next:focus,
.ewp-product-carousel .slick-prev:hover,
.ewp-product-carousel .slick-prev:focus,
.ewp-product-carousel .slick-next:hover,
.ewp-product-carousel .slick-next:focus{
  outline: none;
}
.ewp-carousel .slick-prev, .ewp-product-carousel .slick-prev{
  left: 0;
}
.ewp-carousel .slick-next, .ewp-product-carousel .slick-next{
  right: 0;
}
.ewp-carousel:hover .slick-next,.ewp-carousel:hover .slick-prev,
.ewp-product-carousel:hover .slick-next,.ewp-product-carousel:hover .slick-prev{
  opacity: 0.8;
}
.ewp-product-carousel .ewp-amount{
  display: block;
  width: 100%;
  margin-bottom: 12px;
}
/* ------ Preloader ------ */
.ewp-carousel, .ewp-product-carousel{
  min-height: 30px;
}
.ewp-carousel .ewp-slick-slide,
.ewp-product-carousel .ewp-slick-slide{
  display: none;
}
.ewp-carousel.slick-initialized .ewp-slick-slide,
.ewp-product-carousel.slick-initialized .ewp-slick-slide{
  display: block;
}
.ewp-carousel .slick-list,
.ewp-product-carousel .slick-list {
  opacity: 0;
  position: absolute;
}
.ewp-carousel.slick-initialized,
.ewp-product-carousel.slick-initialized {
  min-height: none;
}
.ewp-carousel.slick-initialized .slick-list,
.ewp-product-carousel.slick-initialized .slick-list {
  opacity: 1;
  position: relative;
  transition: opacity 0.2s ease-in;
}
.ewp-carousel.slick-initialized .ewp-carousel-loader,
.ewp-product-carousel.slick-initialized .ewp-carousel-loader {
  display: none!important;
  opacity: 0!important;
}
.ewp-carousel-loader{
  font-size: 10px;
  margin: 50px auto;
  text-indent: -9999em;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #525252;
  background: -moz-linear-gradient(left, #525252 10%, rgba(82,82,82, 0) 42%);
  background: -webkit-linear-gradient(left, #525252 10%, rgba(82,82,82, 0) 42%);
  background: -o-linear-gradient(left, #525252 10%, rgba(82,82,82, 0) 42%);
  background: -ms-linear-gradient(left, #525252 10%, rgba(82,82,82, 0) 42%);
  background: linear-gradient(to right, #525252 10%, rgba(82,82,82, 0) 42%);
  position: relative;
  -webkit-animation: EWPCarouselLoader 1.4s infinite linear;
  animation: EWPCarouselLoader 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.ewp-carousel-loader:before {
  width: 50%;
  height: 50%;
  background: #525252;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.ewp-carousel-loader:after {
  background: #ffffff;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes EWPCarouselLoader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes EWPCarouselLoader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/* ------ /Preloader ------ */

/* ----------------------- /Carousels ----------------------- */

/* ----------------------- EWP All Publishers ----------------------- */
.ewp-publishers-cols-outer{
  margin-left: -15px;
  margin-right: -15px;
}
.ewp-all-publishers .ewp-pagination-wrapper{
  margin-top: 20px;
  padding-top: 10px;
  border-top: 1px solid #ededed;
  text-align: right;
}
.ewp-all-publishers .ewp-pagination{
  display: inline-block;
  margin-right: 10px;
  background-color: #ededed;
  color: #333;
  text-align: center;
  padding: 10px;
}
.ewp-all-publishers .ewp-publishers-cols-outer:after{
  content: "";
  display: table;
  clear: both;
}
.ewp-all-publishers .ewp-publishers-cols-outer .ewp-publishers-col3{
  padding: 0 15px;
  width: 20%;
  float: left;
}
.ewp-all-publishers .ewp-publishers-cols-outer .ewp-publishers-col3 > p:first-child{
  height: 25px;
  overflow: hidden;
  font-size: 14px;
}
/* ----------------------- /EWP All Publishers ----------------------- */

/* ----------------------- EWP AZ Listing ----------------------- */
.ewp-az-listing-row{
  margin-bottom: 20px;
}
.ewp-az-listing-row-in{
  margin-left: -5px;
  margin-right: -5px;
}
.ewp-az-listing-col{
  padding: 5px;
}
.ewp-az-listing-col > a{
  display: block;
  text-transform: uppercase;
  white-space:nowrap;
  overflow:hidden;
}
.ewp-az-listing-title{
  border-bottom: 1px solid #ddd;
  font-weight: bold;
  font-size: 115%;
  text-transform: uppercase;
}
.ewp-az-listing-header{
  margin-bottom: 30px;
}
.ewp-az-listing-header ul{
  margin: 0;
  padding: 0;
  list-style: none;
  margin-right: -2px;
  margin-left: -2px;
}
.ewp-az-listing-header li{
  display: inline-block;
  float: left;
  width: 25px;
  height: 25px;
  margin: 2px;
  line-height: 25px;
  border: 1px solid #ddd;
  text-align: center;
}
.ewp-az-listing-header a{
  text-transform: uppercase;
}
/* ----------------------- /EWP AZ Listing ----------------------- */

/* ----------------------- Filter products widget ----------------------- */
.ewp-filter-products input[type="checkbox"]{
  margin-right: 10px;
}
.ewp-filter-products li{
  margin-bottom: 5px;
}
/* ----------------------- /Filter products widget ----------------------- */

/* ----------------------- Columns ----------------------- */
.ewp-row:after{
  content: "";
  display: table;
  clear: both;
}
.ewp-columns-2{
  width: 50%;
}
.ewp-columns-3{
  width: 33.33333%;
}
.ewp-columns-4{
  width: 25%;
}
.ewp-columns-5{
  width: 20%;
}
.ewp-columns-6{
  width: 16.66666%;
}
.ewp-columns{
  float: left;
}
/* ----------------------- /Columns ----------------------- */

/* ----------------------- Single product ----------------------- */
.ewp-single-product-publishers{
  padding-top: 1em;
}
.product_meta .ewp-single-product-publishers{
  padding-top: 0;
}
.ewp-text-before-publishers-links{
  margin-right: 4px;
}
/* ----------------------- /Single product ----------------------- */

/* ----------------------- Responsive ----------------------- */
@media screen and (max-width: 1000px) {
  .ewp-all-publishers .ewp-publishers-cols-outer .ewp-publishers-col3{
    width: 25%;
  }
}
@media screen and (max-width: 700px) {
  .ewp-all-publishers .ewp-publishers-cols-outer .ewp-publishers-col3{
    width: 50%;
  }
  .ewp-columns-5, .ewp-columns-6{
    width: 25%;
  }
}
@media screen and (max-width: 480px) {
  .ewp-all-publishers .ewp-publishers-cols-outer .ewp-publishers-col3{
    width: 100%;
    float: none;
  }
  .ewp-all-publishers .ewp-publishers-cols-outer .ewp-publishers-col3 > p:first-child{
    height: auto;
  }
  .ewp-columns-3, .ewp-columns-4, .ewp-columns-5, .ewp-columns-6{
    width: 50%;
  }
}

@media (min-width: 576px) {
  .ewp-az-listing-col{
    width: 50%;
    float: left;
  }
}
@media (min-width: 992px) {
  .ewp-az-listing-col{
    width: 25%;
  }
}
/* ----------------------- /Responsive ----------------------- */
